click==8.1.7
colorama==0.4.6
cycler==0.11.0
eightbitdo-zero2==0.1.3
fonttools==4.38.0
imageio==2.31.2
importlib-metadata==6.7.0
imutils==0.5.4
keyboard==0.13.5
kiwisolver==1.4.5
matplotlib==3.5.3
MyQR==2.3.1
netaddr==1.2.1
netifaces==0.11.0
numpy==1.21.6
opencv-python==4.9.0.80
packaging==24.0
Pillow==9.5.0
pyjoystick==1.2.4
pyparsing==3.1.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
PySDL2==0.9.16
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
qt-thread-updater==1.1.6
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtPy==2.4.1
resource-man==2.2.8
robomaster==0.1.1.68
six==1.16.0
typing-extensions==4.7.1
zipp==3.15.0